// header variables
$main-header-BG: rgb(32, 32, 32);
$main-header__TITLE_COLOR: rgb(200, 200, 200);

// menu variables
$main-menu-LINK_COLOUR: rgb(128, 128, 128);
$main-menu-LINK_COLOUR__HOVER: rgb(64, 64, 64);
$main-menu-BG: rgb(242, 242, 242);